#rooms{
  .create-button{
    text-align: right;
  }

  .rooms-wrapper{
    margin-top: 1em;
  }
  
  ul.rooms {
    display: block;
    list-style-type: none;
    padding: 0.3em;
    border: 2px solid #DDDDDD;
    li {
      display: flex;
      border-bottom: 1px solid #DDDDDD;
      align-items: center;
      justify-content: center;
      padding-bottom: 0.5em;
      padding-top: 0.5em;

      &:last-child{
        border-bottom: 0;
      }

      .room-name {
        flex: 10;
      }
      .room-actions {
        flex: 2;
        button {
          display: block;
          width: 100%;
        }
      }
    }
  }
}
