# nodejs vendor folder
node_modules

# gin binary file
gin-bin

# binary output
tomatorpg

# generated assets
/assets/dist

# log files
*.log

# dotenv files
.env

# all sqlite database files
*.db
*.sqlite

# ignore vendor folder
/vendor
