#rooms{
  ul.rooms {
    display: block;
    list-style-type: none;
    padding: 0.3em;
    margin: 0 0 0.5em;
    width: 20vw;
    background-color: rgba(0, 0, 0, 0.1);
    li {
      display: flex;
      margin: 2px 0;
      padding: 0.1em 0.5em;
      .room-name {
        flex: 10;
      }
      .room-actions {
        flex: 2;
        button {
          display: block;
          width: 100%;
        }
      }
    }
  }
}
