#messages {
  border: 1px solid #EEE;
  box-shadow: 1px 1px 4px rgba(0,0,0,0.3);
  height: 60vh;
  width: 80vw;
  padding: 0.5em;
  margin-bottom: 10px;
  transition: all 0.6s;
  overflow-y: hidden;

  &:hover {
    box-shadow: 1px 1px 16px rgba(0,0,0,0.5);
    overflow-y: auto;
  }
}
